<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Type Payment</th>
            <th>Banks</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i=0; i < payment.length; i++) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= payment[i].type %>
                </td>
                <td>
                    <% payment[i].banks.forEach(bank=> { %>
                        <span class="badge badge-warning">
                            <%= bank.name %> -
                                <%= bank.nameBank %> -
                                    <%= bank.noRekening %> -
                        </span>
                        <% }) %>
                </td>
                <td>
                    <form action="/payment/status/<%= payment[i]._id %>?_method=PUT" style="display:inline-block">
                        <button class="btn btn-primary">
                            <i class="fas fa-folder"></i>
                            <% if (payment[i].status==='Y' ) { %>
                                <span class="badge badge-success">
                                    Active
                                </span>
                                <% } else { %>
                                    <span class="badge badge-danger">
                                        Non-Active
                                    </span>
                                    <% } %>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/payment/delete/<%= payment[i]._id %>?_method=DELETE" method="POST">
                        <a href="/payment/edit/<%= payment[i]._id %>" class="btn btn-warning">
                            <i class="fas fa-pencil-alt"></i>Ubah
                        </a>
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>Hapus
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>